p {
    font-size: 20px;
    font-weight: bold;
    em {
        background: yellow;
        padding: 5px;
        
    }
}


path {
    stroke: black;
    fill: none;
    stroke-width: 0px;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.6;
    shape-rendering: crispEdges
  }
  .lbl
  {
      fill: white;
  }